
.slidein {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    /* animation-direction: alternate; */
    animation-direction:normal;
  }
  
  @keyframes slidein {
    from {
      margin-left:50%;
      width:100%
    }
  
    to {
     margin-left:0%;
     width:100%;
   }
  }